# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Cristian
	email = cristiand2021@gmail.com

[pull]
    rebase = true

[core]
    editor = nvim
    pager = delta
    
[alias]
	cm = commit -m
	cae = commit --amend --no-edit
	l = log
    la = log --oneline --graph
    s = status
    ri = rebase -i HEAD^^^^^


[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true
    plus-style = green
    minus-style = red
    file-style = box bold orange
    hunk-header-style = box bold green

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

